---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import { Image } from "astro:assets";
import profilePicture from "../../public/profile pic.png";
import htmlLogo from "../../public/html.png";
import cssLogo from "../../public/css-3.png";
import jsLogo from "../../public/js.png";
import java from "../../public/java.png";
import csLogo from "../../public/c-sharp.png";
import Footer from "../components/Footer.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <!--Navbar -->
    <Navbar />
    <!---Page header -->
    <div class="page-header">
      <h1 class="text-intro">
        HI, I AM <br /><span class="color-gradient">Reece</span><br
          class="gap"
        />
      </h1>
      <div class="wrapper">
        <p class="sub-text">
          <ul class="dynamic-text">
            <li class="dynamic-list">
              <span> A Junior Software Developer</span>
            </li>
          </ul>
        </p>
      </div>
    </div>
  </main>

  <body>
    <!--Container-->
    <div class="container">
      <!--About Me -->
      <div class="about">
        <h2 class="about-header">&lt;About Me/&gt;</h2>
        <p class="about-text">
          Hello there! 👋 I'm Reece, a junior software developer passionate
          about crafting elegant solutions to real-world problems. <br /><br
          />My journey in the realm of technology began with Web Development,
          and I've been on an exciting learning adventure ever since.
        </p>
        <!--Profile image -->
        <div class="profile-image">
          <Image
            src={profilePicture}
            class="profile-image"
            alt="Reece Farrell Picture"
          />
        </div>
      </div>
      <!--Languages I use -->

      <div class="languages">
        <h2>&lt;Languages I Use/&gt;</h2>
        <div class="language">
          <Image class="language" src={htmlLogo} alt="HTML logo" />
        </div>
        <div class="language-text">HTML 5</div>
        <div class="language">
          <Image class="language" src={cssLogo} alt="CSS logo" />
        </div>
        <div class="language-text">CSS</div>
        <div class="language">
          <Image class="language" src={jsLogo} alt="JavaScript logo" />
        </div>
        <div class="language-text">JavaScript</div>
        <div class="language">
          <Image class="language" src={java} alt="Java logo" />
        </div>
        <div class="language-text">JAVA</div>
        <div class="language">
          <Image class="language" src={csLogo} alt="C-Sharp logo" />
        </div>
        <div class="language-text">C#</div>
      </div>
    </div>
  </body>
</Layout>
<style>
  html {
    background: rgb(24, 33, 64);
    background: linear-gradient(
      65deg,
      rgba(24, 33, 64, 1) 0%,
      rgba(12, 28, 43, 1) 48%,
      rgba(6, 3, 33, 1) 100%
    );
  }
  main {
    width: 100%;
    margin: auto;
    padding: 1rem;
    height: 350px;
    max-width: calc(100% - 2rem);
    color: white;
  }

  .page-header {
    width: 100%;
    height: 300px;
  }

  h1 {
    text-align: center;
  }

  .sub-text {
    text-align: center;
    margin-top: 2%;
    font-size: 21px;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
  }

  .dynamic-text .wrapper {
    margin-left: 15px;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
    width: auto;
  }

  .dynamic-text .dynamic-list {
    list-style: none;
    font-size: 21px;
  }

  .dynamic-text li span {
    position: relative;
  }

  .dynamic-text li span::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-left: 2px solid orange;
    left: 0;
    animation: typing 5s steps(27) infinite;
    background: #090e25;
  }

  @keyframes typing {
    100% {
      left: 100%;
      margin: 0 20px 0 20px;
    }
  }

  .text-intro {
    font-size: 80px;
    line-height: 1em;
    margin-top: 20%;
  }

  .color-gradient {
    font-size: 100px;
    color: rgb(245, 137, 57);
    color: linear-gradient(
      65deg,
      rgba(245, 137, 57, 1) 0%,
      rgba(226, 155, 51, 1) 48%,
      rgba(255, 212, 0, 1) 100%
    );
  }
  /*About Me*/
  .container {
    margin-top: 5%;
    color: var(--orange);
    font-size: 30px;
    height: 100%;
    margin-bottom: 5%;
  }

  .about-text {
    margin-left: 2.2em;
    margin-right: 1.6em;
    color: #fff;
    float: left;
    margin-top: 1em;
    font-size: 20px;
    margin-bottom: 10%;
  }

  h2 {
    color: rgb(245, 137, 57);
    color: linear-gradient(
      65deg,
      rgba(245, 137, 57, 1) 0%,
      rgba(226, 155, 51, 1) 48%,
      rgba(255, 212, 0, 1) 100%
    );
    text-align: center;
    font-size: 35px;
  }

  .profile-image {
    height: 210px;
    width: 205px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    outline: solid 6px #f58939;
    margin-bottom: 20%;
  }

  /*Languages*/
  .language {
    display: flex;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    margin-bottom: 5%;
  }

  .language-text {
    text-align: center;
    color: #fff;
  }
</style>
