---
interface Props {
  name: string;
  type: string;
  projectName: string;
  language: string;
  src: string;
  poster: string;
  link: string;
  description1: string;
  description2: string;
}
import Layout from "../layouts/Layout.astro";
const {
  name,
  type,
  projectName,
  language,
  src,
  poster,
  link,
  description1,
  description2,
}: Props = Astro.props;
---

<Layout title="A" />

<body
  ><!---Projects Type -->
  <h1>{name}</h1>
  <!--Projects intro -->
  <p>
    Here are my recent <span class="type-color-change">{type}</span>
     projects
  </p>
  <!--Article -->
  <article>
    <!--Project Name -->
    <h3>{projectName}</h3>
    <!--Languages Used -->
    <p class="built-with-text">
      Built with: <span class="type-color-change">{language}</span>
    </p>
    <!---Video -->
    <video width="300px" height="auto" controls poster={poster}>
      <source src={src} type="video/mp4" /></video
    >
    <p class="description">{description1}<br /><br />{description2}</p>
    <!--Buttons -->
    <div class="button-container">
      <a href={link}
        ><button class="btn-code"
          ><i class="fa-brands fa-github"></i>Code</button
        ></a
      >
      <a href="/projects.html"
        ><button class="btn-return"
          ><i class="fa-solid fa-arrow-left"></i>Back</button
        ></a
      >
    </div>
  </article>
</body>
<style>
  h1 {
    text-align: center;
    color: #f58939;
    margin-top: 20%;
    font-size: 45px;
  }

  h3 {
    text-align: center;
    color: #f58939;
    margin-top: 15%;
    font-size: 30px;
  }

  p {
    color: #fff;
    text-align: center;
  }

  .built-with-text {
    margin-top: 2%;
  }

  .type-color-change {
    color: #f58939;
  }

  video {
    display: flex;
    border: solid 5px #f58939;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }

  .description {
    text-align: left;
    margin: 3em;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10%;
    flex-wrap: nowrap;
  }

  button {
    border-radius: 10%;
    cursor: pointer;
    font-size: 20px;
  }

  .btn-code {
    width: 120px;
    height: 60px;
    background-color: #fff;
    color: #f58939;
    border: solid 3px #f58939;
  }
  .btn-return {
    width: 120px;
    height: 60px;
    background-color: #f58939;
    color: #fff;
    border: solid 3px #fff;
  }

  .fa-brands {
    margin-right: 10%;
  }

  .fa-solid {
    margin-right: 10%;
  }
  /*Page layout*/
  body {
    background: rgb(24, 33, 64);
    background: linear-gradient(
      65deg,
      rgba(24, 33, 64, 1) 0%,
      rgba(12, 28, 43, 1) 48%,
      rgba(6, 3, 33, 1) 100%
    );
  }

  h1 {
    text-align: center;
  }

  main {
    width: 100%;
    margin: auto;
    padding: 1rem;
    height: 350px;
    max-width: calc(100% - 2rem);
    color: white;
  }

  header {
    width: 100%;
    margin: auto;
    padding: 1rem;
    max-width: calc(100% - 2rem);
    color: white;
  }

  * {
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
<script src="https://kit.fontawesome.com/75375d0f3e.js" crossorigin="anonymous"
></script>
